{% extends 'base.html' %}

{% block content %}
        <div class="post">
                <label for="routes">Choose a route:</label>
                <select id="routes" name="routes">
                    <option value="movie rental report">Movie Rental Report</option>
                    <option value="customer report">Customer Report</option>
                    <option value="inventory report">Inventory Report</option>
                </select>
                <button type="submit">Submit</button>
          </form>
        </div>
{% endblock %}

